In [62]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [63]:
import sklearn
from sklearn.cluster import DBSCAN

In [64]:
data = pd.read_csv('./data/ktw_modified.csv') #wczytanie danych

In [65]:
data.set_index(keys=['Rok','Miesiac','Dzien'], inplace = True) #ustawienie multiindeksu na rok-miesiac-dzien

In [66]:
data.sort_index(inplace = True) #sortowanie po indeksie

In [67]:
data['Typ_opadu'] = data['Typ_opadu'].round(0).astype(int) #zaokrąglenie i rzutowanie na int

In [68]:
data #wyswietlenie gotowych danych

                    Tmax  Tmin  Tmin_grunt  Opad  Typ_opadu
Rok  Miesiac Dzien
2001 1       1      -0.7  -7.9       -11.1   0.0          1
             2       2.4  -8.7        -8.1   0.1          1
             3       2.2  -3.4        -5.1   5.6          1
             4       6.1   0.5        -2.7   0.0          1
             5       6.5  -1.9        -2.8   0.2          1
...                  ...   ...         ...   ...        ...
2019 12      27      2.7   1.4         0.6   0.6          2
             28      1.5  -1.6        -1.6   0.3          2
             29     -0.1  -1.8        -1.8   0.0          2
             30      3.1  -4.9        -6.1   0.0          2
             31      4.8   2.0         0.4   0.0          0

[6939 rows x 5 columns]

In [145]:
tmax = pd.Series(data.Tmax)
tmin = pd.Series(data.Tmin)

In [146]:
fullt = tmax.append(tmin, ignore_index=False)

In [152]:
fullt #bierzemy całą temperaturę i zobaczymy co wyjdzie

Rok   Miesiac  Dzien
2001  1        1       -0.7
               2        2.4
               3        2.2
               4        6.1
               5        6.5
                       ...
2019  12       27       1.4
               28      -1.6
               29      -1.8
               30      -4.9
               31       2.0
Length: 13878, dtype: float64

In [185]:
model = DBSCAN(eps = 0.4, min_samples = 8).fit(fullt.values.reshape(-1,1))
#dwa najważniejsze parametry tego modelu to:
#epsilion - maksymalny dystans między dwoma punktami
#min_samples - minimalna liczba punktów w sąsiedztwie
#trzeba odpowiednio dobrać parametry do danych

In [186]:
model

DBSCAN(algorithm='auto', eps=0.4, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=8, n_jobs=None, p=None)

In [187]:
con = model.labels_ == -1 #model zwraca -1 jesli dany punkt jest outlierem

In [188]:
outliers = pd.Series(fullt[con])

In [189]:
outliers.sort_index(inplace = True)

In [190]:
outliers #outliery wyglądają dobrze
# w przeciwieństwie do metod statystycznych znaleziono też outliery w tmax

Rok   Miesiac  Dzien
2002  1        4       -23.8
      12       26      -19.9
2003  1        9       -20.6
      2        13      -20.3
2006  1        22      -20.2
               23      -26.8
               24      -24.9
               25      -20.9
      2        5       -19.7
2010  1        23      -19.6
               24      -21.4
               25      -20.0
               27      -21.2
      12       5       -20.7
2012  2        2       -20.2
               3       -23.3
               4       -22.1
               11      -22.6
               12      -22.4
2013  7        29       35.4
      8        8        37.2
2017  1        7       -26.0
               8       -24.7
               9       -21.0
2019  7        1        35.2
dtype: float64