In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv('./data/ktw_modified.csv') #wczytanie danych

In [3]:
data.set_index(keys=['Rok','Miesiac','Dzien'], inplace = True) #ustawienie multiindeksu na rok-miesiac-dzien

In [4]:
data.sort_index(inplace = True) #sortowanie po indeksie

In [5]:
data #wyswietlenie gotowych danych

                    Tmax  Tmin  Tmin_grunt  Opad  Typ_opadu
Rok  Miesiac Dzien
2001 1       1        -1    -8         -11     0          1
             2         2    -9          -8     0          1
             3         2    -3          -5     6          1
             4         6     0          -3     0          1
             5         6    -2          -3     0          1
...                  ...   ...         ...   ...        ...
2019 12      27        3     1           1     1          2
             28        2    -2          -2     0          2
             29        0    -2          -2     0          2
             30        3    -5          -6     0          2
             31        5     2           0     0          0

[6939 rows x 5 columns]

In [6]:
### METODA ŚREDNIEJ I ODCHYLENIA STANDARDOWEGO ###

In [7]:
tmin_std = data.Tmin.std()

In [8]:
tmin_srednia = data.Tmin.mean()

In [9]:
sigma3 = tmin_srednia-(3*tmin_std)
#z wykresów wiemy że outliery mogą być jako minimalna tmin więc bierzemy dół przedziału z reguły 3 sigma

In [10]:
warunek1 = data.Tmin < sigma3

In [11]:
data.loc[warunek1,'Tmin'] #jako odchylenia zaklasyfikowane zostały wszystkie temperatury poniżej -18*C

Rok   Miesiac  Dzien
2002  1        4       -24
               5       -19
      12       26      -20
2003  1        9       -21
      2        13      -20
2005  2        9       -19
2006  1        22      -20
               23      -27
               24      -25
               25      -21
      2        5       -20
2010  1        23      -20
               24      -21
               25      -20
               27      -21
      12       5       -21
               17      -19
2012  2        2       -20
               3       -23
               4       -22
               10      -19
               11      -23
               12      -22
2017  1        7       -26
               8       -25
               9       -21
               11      -19
Name: Tmin, dtype: int64

In [12]:
data.Tmin[warunek1].count() # 27 pomiarów są outlierami

27

In [13]:
### METODA IQR ###

In [14]:
Q1 = data.Tmin.quantile(0.25)

In [15]:
Q3 = data.Tmin.quantile(0.75)

In [16]:
IQR = Q3-Q1

In [17]:
dol = Q1-(1.5*IQR) #tak samo jak poprzednio bierzemy dół przedziału; k=1.5

In [18]:
warunek2 = data.Tmin < dol

In [19]:
data.loc[warunek2,'Tmin'] #jako odchylenia zaklasyfikowane zostały wszystkie temperatury poniżej -19*C

Rok   Miesiac  Dzien
2002  1        4       -24
      12       26      -20
2003  1        9       -21
      2        13      -20
2006  1        22      -20
               23      -27
               24      -25
               25      -21
      2        5       -20
2010  1        23      -20
               24      -21
               25      -20
               27      -21
      12       5       -21
2012  2        2       -20
               3       -23
               4       -22
               11      -23
               12      -22
2017  1        7       -26
               8       -25
               9       -21
Name: Tmin, dtype: int64

In [20]:
data.Tmin[warunek2].count() #22 pomiary są outlierami

22