In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data = pd.read_csv('./data/ktw_modified.csv') #wczytanie danych

In [3]:
data.set_index(keys=['Rok','Miesiac','Dzien'], inplace = True) #ustawienie multiindeksu na rok-miesiac-dzien

In [4]:
data.sort_index(inplace = True) #sortowanie po indeksie

In [5]:
data['Typ_opadu'] = data['Typ_opadu'].round(0).astype(int) #zaokrąglenie i rzutowanie na int

In [6]:
data #wyswietlenie gotowych danych

                    Tmax  Tmin  Tmin_grunt  Opad  Typ_opadu
Rok  Miesiac Dzien
2001 1       1      -0.7  -7.9       -11.1   0.0          1
             2       2.4  -8.7        -8.1   0.1          1
             3       2.2  -3.4        -5.1   5.6          1
             4       6.1   0.5        -2.7   0.0          1
             5       6.5  -1.9        -2.8   0.2          1
...                  ...   ...         ...   ...        ...
2019 12      27      2.7   1.4         0.6   0.6          2
             28      1.5  -1.6        -1.6   0.3          2
             29     -0.1  -1.8        -1.8   0.0          2
             30      3.1  -4.9        -6.1   0.0          2
             31      4.8   2.0         0.4   0.0          0

[6939 rows x 5 columns]

In [7]:
### METODA ŚREDNIEJ I ODCHYLENIA STANDARDOWEGO ###

In [8]:
tmin_std = data.Tmin.std()

In [9]:
tmin_srednia = data.Tmin.mean()

In [10]:
sigma3 = tmin_srednia-(3*tmin_std)
#z wykresów wiemy że outliery mogą być jako minimalna tmin więc bierzemy dół przedziału z reguły 3 sigma

In [11]:
warunek1 = data.Tmin < sigma3

In [12]:
data.loc[warunek1,'Tmin'] #jako odchylenia zaklasyfikowane zostały wszystkie temperatury poniżej -18.2*C

Rok   Miesiac  Dzien
2002  1        4       -23.8
               5       -19.1
      12       26      -19.9
2003  1        9       -20.6
      2        2       -18.5
               13      -20.3
2005  2        9       -18.9
2006  1        22      -20.2
               23      -26.8
               24      -24.9
               25      -20.9
               27      -18.3
               28      -18.4
      2        5       -19.7
2009  2        22      -18.5
2010  1        23      -19.6
               24      -21.4
               25      -20.0
               27      -21.2
      12       5       -20.7
               17      -19.1
2012  2        2       -20.2
               3       -23.3
               4       -22.1
               10      -18.7
               11      -22.6
               12      -22.4
               13      -18.5
2017  1        7       -26.0
               8       -24.7
               9       -21.0
               11      -18.9
Name: Tmin, dtype: float64

In [13]:
data.Tmin[warunek1].count() # 32 pomiarów jest outlierami

32

In [14]:
### METODA IQR ###

In [15]:
Q1 = data.Tmin.quantile(0.25)

In [16]:
Q3 = data.Tmin.quantile(0.75)

In [17]:
IQR = Q3-Q1

In [18]:
dol = Q1-(1.5*IQR) #tak samo jak poprzednio bierzemy dół przedziału; k=1.5

In [19]:
warunek2 = data.Tmin < dol

In [20]:
data.loc[warunek2,'Tmin'] #jako odchylenia zaklasyfikowane zostały wszystkie temperatury poniżej -17.7*C

Rok   Miesiac  Dzien
2001  12       13      -18.0
2002  1        3       -18.0
               4       -23.8
               5       -19.1
      12       26      -19.9
2003  1        9       -20.6
      2        2       -18.5
               13      -20.3
2005  2        8       -18.1
               9       -18.9
2006  1        22      -20.2
               23      -26.8
               24      -24.9
               25      -20.9
               27      -18.3
               28      -18.4
      2        5       -19.7
               6       -17.9
2009  2        22      -18.5
2010  1        23      -19.6
               24      -21.4
               25      -20.0
               26      -18.0
               27      -21.2
      12       5       -20.7
               16      -17.9
               17      -19.1
2012  2        2       -20.2
               3       -23.3
               4       -22.1
               10      -18.7
               11      -22.6
               12      -22.4
               13      -18.5
2017  1        7       -26.0
               8       -24.7
               9       -21.0
               11      -18.9
2018  3        1       -18.0
Name: Tmin, dtype: float64

In [21]:
data.Tmin[warunek2].count() #39 pomiarów jest outlierami

39