In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import sklearn
from sklearn.ensemble import IsolationForest

In [3]:
data = pd.read_csv('./data/ktw_modified.csv') #wczytanie danych

In [4]:
data.set_index(keys=['Rok','Miesiac','Dzien'], inplace = True) #ustawienie multiindeksu na rok-miesiac-dzien

In [5]:
data.sort_index(inplace = True) #sortowanie po indeksie

In [6]:
data['Typ_opadu'] = data['Typ_opadu'].round(0).astype(int) #zaokrąglenie i rzutowanie na int

In [7]:
data #wyswietlenie gotowych danych

                    Tmax  Tmin  Tmin_grunt  Opad  Typ_opadu
Rok  Miesiac Dzien
2001 1       1      -0.7  -7.9       -11.1   0.0          1
             2       2.4  -8.7        -8.1   0.1          1
             3       2.2  -3.4        -5.1   5.6          1
             4       6.1   0.5        -2.7   0.0          1
             5       6.5  -1.9        -2.8   0.2          1
...                  ...   ...         ...   ...        ...
2019 12      27      2.7   1.4         0.6   0.6          2
             28      1.5  -1.6        -1.6   0.3          2
             29     -0.1  -1.8        -1.8   0.0          2
             30      3.1  -4.9        -6.1   0.0          2
             31      4.8   2.0         0.4   0.0          0

[6939 rows x 5 columns]

In [8]:
d1 = {'Temp': data.Tmax}
d2 = {'Temp': data.Tmin}
tmax = pd.DataFrame(d1)
tmin = pd.DataFrame(d2)

In [9]:
fullt = tmax.append(tmin, ignore_index=False)

In [10]:
fullt

                    Temp
Rok  Miesiac Dzien
2001 1       1      -0.7
             2       2.4
             3       2.2
             4       6.1
             5       6.5
...                  ...
2019 12      27      1.4
             28     -1.6
             29     -1.8
             30     -4.9
             31      2.0

[13878 rows x 1 columns]

In [11]:
model=IsolationForest(n_estimators=100, max_samples='auto', contamination=float(0.002))

In [12]:
model.fit(fullt[['Temp']])

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.002,
                max_features=1.0, max_samples='auto', n_estimators=100,
                n_jobs=None, random_state=None, verbose=0, warm_start=False)

In [13]:
fullt['Score']=model.decision_function(fullt[['Temp']])
fullt['IsOutlier']=model.predict(fullt[['Temp']])

In [14]:
# .fit i .predict czyli trenowanie i testowanie jest na tych samych danych

In [15]:
fullt

                    Temp     Score  IsOutlier
Rok  Miesiac Dzien
2001 1       1      -0.7  0.313164          1
             2       2.4  0.313881          1
             3       2.2  0.312555          1
             4       6.1  0.310613          1
             5       6.5  0.314328          1
...                  ...       ...        ...
2019 12      27      1.4  0.317710          1
             28     -1.6  0.309198          1
             29     -1.8  0.304523          1
             30     -4.9  0.250012          1
             31      2.0  0.313806          1

[13878 rows x 3 columns]

In [16]:
# zwracamy wyliczony przez funkcje decyzyjną algorytmu wynik "Score" dla każdego punktu oraz decyzję "IsOutlier"
# -1 znaczy ze jest outlierem

In [17]:
con = fullt['IsOutlier']==-1

In [18]:
fullt[con]

                    Temp     Score  IsOutlier
Rok  Miesiac Dzien
2002 1       4     -23.8 -0.016390         -1
             5     -19.1 -0.002096         -1
     12      26    -19.9 -0.007888         -1
2003 1       9     -20.6 -0.013191         -1
     2       13    -20.3 -0.012659         -1
2006 1       22    -20.2 -0.012659         -1
             23    -26.8 -0.016390         -1
             24    -24.9 -0.016390         -1
             25    -20.9 -0.013191         -1
     2       5     -19.7 -0.003146         -1
2010 1       23    -19.6 -0.003146         -1
             24    -21.4 -0.013191         -1
             25    -20.0 -0.011066         -1
             27    -21.2 -0.013191         -1
     12      5     -20.7 -0.013191         -1
             17    -19.1 -0.002096         -1
2012 2       2     -20.2 -0.012659         -1
             3     -23.3 -0.016390         -1
             4     -22.1 -0.015323         -1
             11    -22.6 -0.016390         -1
             12    -22.4 -0.016390         -1
2017 1       7     -26.0 -0.016390         -1
             8     -24.7 -0.016390         -1
             9     -21.0 -0.013191         -1